@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  background-color: #18181b;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.navbar {
  background: #881337;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 80px;
}

.container {
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
}

.navbar-logo {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(25%, 50%);
}

.navbar-icon {
  margin-right: 0.5rem;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  text-align: center;
  justify-content: flex-end;
}

.nav-item {
  width: 100%;
}

.nav-item:hover {
  border: none;
}

.nav-links {
  text-align: center;
  padding: 2rem;
  width: 100%;
  display: table;
  color: rgba(255, 255, 255, 0.7);
}

.nav-links:hover {
  color: rgba(251, 113, 133, 0.9);
  transform: scale(1.2);
  transition: all 0.3s ease;
}

.activated {
  color: rgba(251, 113, 133, 0.9);
}

.fa-bars {
  color: rgba(255, 255, 255, 0.7);
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #881337;
    left: 0;
    opacity: 1;
    transition: all 0.6s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    color: rgba(251, 113, 133, 0.9);
    transform: scale(1.2);
    transition: all 0.3s ease;
  }

  .nav-item {
    width: 100%;
  }

  .nav-item:hover {
    border: none;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
}

/* Social */

.si-container {
  -webkit-transition: color 1s;
  -moz-transition: color 1s;
  -o-transition: color 1s;
  transition: color 1s;
}

/* Portfolio */

.anchor-icons {
  -webkit-transition: background-color 1s ease;
  -moz-transition: background-color 1s ease;
  -o-transition: background-color 1s ease;
  transition: background-color 1s ease;
}

/* Skills */

.ski-container {
  margin: 1rem 0;
  -webkit-transition: color 1s;
  -moz-transition: color 1s;
  -o-transition: color 1s;
  transition: color 1s;
}

.wrap {
  position: relative;
  height: 150px;
  left: 50%;
  overflow: hidden;
  transform: translate(-50%);
}

.image-part {
  transform: translateX(0%);
}

.text-part {
  text-align: center;
  transform: translateX(-120%);
}

.text-part,
.image-part {
  position: absolute;
  width: 100%;
  transition: transform 0.4s ease-in-out;
}

.wrap:hover .image-part {
  transform: translateX(120%);
}

.wrap:hover .text-part {
  transform: translateX(0%);
}
